.DroneVisual {
  float: left;
  animation: Fade 1s linear;
}

.canvas {
  width: 580px;
  height: 580px;
}

@media only screen and (max-width: 86em) {
  .DroneVisual {
    width: 100%;
    height: auto;
    animation: Fade 1s linear;
    justify-content: center;
  }

  .canvas {
    width: 100%;
    height: auto;
  }
}
