.Offenders {
  background: linear-gradient(to right, lightblue, lightgreen);
  padding: 2px;
  border-radius: 1em;
  margin: 15px;
  animation: Fade 1s linear;
}

.Inner {
  background: #222;
  border-radius: 1em;
}

table {
  width: 100%;
  margin: 0;
  place-items: center;
  background: #222;
  border-radius: 1em;
  font-family: arial, sans-serif;
  width: 100%;
  color: rgb(255, 255, 255);
  margin: auto;
}
td,
th {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #282c34;
}

td:first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
td:last-child {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

@media only screen and (max-width: 69em),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  td,
  tr {
    border-radius: 1em;
    display: block;
    word-wrap: break-word;
  }
  th {
    display: none;
  }

  .Offenders {
    margin: 2px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    word-wrap: break-word;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  tr:nth-child(odd) {
    background-color: #282c34;
  }
  tr:nth-child(even) {
    background-color: #222;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: 'drone ID';
  }
  td:nth-of-type(2):before {
    content: 'pilot ID';
  }
  td:nth-of-type(3):before {
    content: 'pilot';
  }
  td:nth-of-type(4):before {
    content: 'phone number';
  }
  td:nth-of-type(5):before {
    content: 'email';
  }
  td:nth-of-type(6):before {
    content: 'min distance (report)';
  }
  td:nth-of-type(8):before {
    content: 'timestamp';
  }
  td:nth-of-type(9):before {
    content: 'last seen';
  }
}
